.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.arrow {
  margin: 0 20px;
}

.arrow:hover {
  transform: scale(1.03);
}

.arrow:active {
  transform: scale(0.98);
}

.arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.arrow:disabled .arrowIcon {
  stroke: #999;
  fill: #ddd;
}

.arrowIcon {
  stroke: var(--secondary-foreground);
  fill: var(--secondary);
}

.arrowIcon:hover {
  fill: var(--secondary-hover);
}

.pageBtn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: var(--secondary);
  border: solid 2px var(--secondary-foreground);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.pageBtn:hover {
  background-color: var(--secondary-hover);
  transform: scale(1.03);
}

.pageBtn:active {
  transform: scale(0.98);
}

.isActive {
  background-color: var(--secondary-hover);
}
