/* 




.icon {
  stroke: var(--secondary-foreground);
}

.link:hover {
  transform: scale(1.05);
  background: var(--secondary-hover);
}

.link:active {
  transform: scale(0.98);
}

.active {
  background-color: var(--secondary-hover);
} */

.navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 60px;
  gap: 30px;
  padding: 24px 0;
}

.link {
  user-select: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: var(--secondary-foreground);
}

.icon {
  stroke: var(--secondary-foreground);
  margin-right: 12px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
