.title {
  margin-bottom: 40px;
}

.btnsList {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  padding: 8px 24px;

  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  background: #00897b;
}

.btn:active {
  transform: scale(0.98);
  background: #00897b;
}

.btn:disabled {
  background-color: var(--muted);
  border-color: var(--muted-foreground);
  cursor: not-allowed;
  color: var(--muted-foreground);
}

.active {
  background-color: var(--secondary-hover);
}

.input {
  padding: 8px 40px 8px 12px;
  border: solid 1px var(--secondary-foreground);
  border-radius: 8px;
  outline: none;
  margin-right: 20px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.input:focus {
  box-shadow: 0 0 0 1px var(--secondary-foreground);
}

.input:disabled,
select:disabled {
  background-color: var(--muted);
  border-color: var(--muted-foreground);
  cursor: not-allowed;
  color: var(--muted-foreground);
}
