.wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchbox {
  position: relative;
  width: 380px;
}

.input {
  outline: none;
  width: 380px;
  padding: 8px 40px 8px 40px;
  border: 1px solid var(--secondary-foreground);
  background-color: var(--background);
  border-radius: 8px;
  transition: 0.2s ease all;
}

.inputIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
}

.input::placeholder {
  color: var(--muted);
}

.input:focus {
  border: 2px solid var(--secondary-foreground);
}

.clear {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.btn {
  padding: 8px 24px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.03);
  background: #00897b;
}

.btn:active {
  transform: scale(0.98);
  background: #00897b;
}
