.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.searchbox {
  position: relative;
}

.input {
  outline: none;
  width: 204px;
  padding: 8px 40px 8px 40px;
  border: 1px solid var(--secondary-foreground);
  background-color: var(--background);
  border-radius: 8px;
  transition: 0.2s ease all;
}

.inputIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
}

.input::placeholder {
  color: var(--muted);
}

.clear {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.selectWrapper {
  position: relative;
  display: inline-block;
  width: 160px;
}

.select {
  width: 100%;
  padding: 8px 24px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  border-radius: 8px;
  outline: none;
  appearance: none;
  text-align: center;
}

.dateInput {
  width: 160px;
  padding: 8px 12px;
  border: 2px solid #004d40;
  border-radius: 8px;
  background-color: #26a69a;
  color: var(--primary);
  outline: none;
  text-align: center;
  cursor: pointer;
}

.dateInput::placeholder {
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .input {
    width: 360px;
  }

  .input:focus {
    border: 2px solid var(--secondary-foreground);
  }

  .btns {
    flex-direction: row;
  }
}

@media screen and (min-width: 1240px) {
}
