.section {
  margin: 40px 0;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.noResults {
  font-style: italic;
  color: var(--muted-foreground);
  margin-top: 100px;
  text-align: center;
}
