.section {
  margin: 40px 0;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.noResults {
  font-style: italic;
  color: var(--muted-foreground);
  margin-top: 100px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1240px) {
}
