.section {
  margin: 40px 0;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1240px) {
}
