.form {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;
  background-color: var(--background);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border: 1px solid var(--secondary-foreground);
  background-color: var(--background);
  border-radius: 12px;
}

.legend {
  font-weight: 600;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: start;
}

.label {
  font-size: 16px;
  font-weight: 600;
}

.input {
  outline: none;
  width: 100%;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid var(--secondary-foreground);
  background-color: var(--background);
  border-radius: 8px;
}

.input:focus {
  border: 2px solid var(--secondary-foreground);
}

.input:disabled {
  background-color: var(--muted-foreground);
  border-color: var(--primary-foreground);
  cursor: not-allowed;
  color: var(--muted);
}

.error {
  color: var(--error);
  font-size: 12px;
  margin: 2px 0 0 0;
  font-weight: 500;
  display: block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  min-height: 44px;
  position: sticky;
  bottom: 0;
}

.btn:hover {
  transform: scale(1.05);
  background: #00897b;
}

.btn:active {
  transform: scale(0.98);
  background: #00897b;
}

.btn:disabled {
  background-color: var(--muted);
  border-color: var(--muted-foreground);
  cursor: not-allowed;
  color: var(--muted-foreground);
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transform: scale(0.5);
}

.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkList {
  display: grid;
  gap: 0px 24px;
  padding: 0;
  list-style: none;
}

.checkItem {
  display: flex;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkItemText {
  font-size: 14px;
}

.checkName {
  font-weight: 600;
}

.legendClickable {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  gap: 4px;
  font-weight: 600;
}

.legendClickable svg {
  transition: transform 0.2s ease;
}

.open {
  transform: rotate(180deg);
}

.collapsible {
  display: none;
}

.openBlock {
  display: block;
}

@media screen and (min-width: 768px) {
  .gridWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .btn {
    width: 180px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1240px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 16px;
  }

  .general {
    grid-column: 1;
  }

  .glass {
    grid-column: 1;
  }

  .materials {
    grid-column: 1;
  }

  .notes {
    grid-column: 2;
    grid-row: 1 / span 3;
    align-self: start;
    height: fit-content;
  }

  .collapsible {
    display: contents;
  }

  .legendClickable svg {
    display: none;
  }

  .legendClickable {
    cursor: default;
  }

  .btn {
    grid-column: 1 / -1;
    justify-self: center;
    width: fit-content;
  }
}
