.form {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 10px;
  background-color: var(--background);
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border: 1px solid var(--secondary-foreground);
  background-color: var(--background);
  border-radius: 12px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-right: 12px;
}

.input {
  outline: none;
  width: 160px;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid var(--secondary-foreground);
  background-color: var(--background);
  border-radius: 8px;
}

.input:focus {
  border: 2px solid var(--secondary-foreground);
}

.input:disabled {
  background-color: var(--muted-foreground);
  border-color: var(--primary-foreground);
  cursor: not-allowed;
  color: var(--muted);
}

.error {
  color: var(--error);
  font-size: 12px;
  margin: 2px 0 0 0;
  font-weight: 500;
  display: block;
}

.legend {
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  min-height: 44px;
}

.btn:hover {
  transform: scale(1.05);
  background: #00897b;
}

.btn:active {
  transform: scale(0.98);
  background: #00897b;
}

.btn:disabled {
  background-color: var(--muted);
  border-color: var(--muted-foreground);
  cursor: not-allowed;
  color: var(--muted-foreground);
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transform: scale(0.5);
}

.checkList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* дві колонки */
  gap: 0px 24px; /* вертикальний та горизонтальний відступ */
  padding: 0;
  list-style: none;
}

.checkItem {
  display: flex;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkItemText {
  font-size: 14px;
}

.checkName {
  font-weight: 600;
}
