.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    max-width: 1240px;
    padding: 0 20px;
  }
}
