:root {
  --primary: #d9e6f2;
  --primary-foreground: #163259;
  --primary-hover: #26acf4;

  --secondary: #cee6f2;
  --secondary-foreground: #0d7fc4;
  --secondary-hover: #99c4f5;

  --background: #e8f8ff;
  --foreground: #163259;
  --table: #f2fafe;
  --table-foreground: #080b14;

  --test: red;
}

[data-theme='dark'] {
  --primary: #26acf4;
  --primary-foreground: #d8effc;
  --secondary: #232838;
  --secondary-foreground: #d8dfe4;

  --background: #0e111b;
  --foreground: #d8dfe4;
  --table: #171a24;
  --table-foreground: #d8dfe4;
}
