:root {
  --primary: #d9e6f2;
  --primary-foreground: #163259;
  --primary-hover: #26acf4;

  --secondary: #cee6f2;
  --secondary-foreground: #0d7fc4;
  --secondary-hover: #99c4f5;

  --background: #e8f8ff;
  --foreground: #163259;

  --error: #f1113e;

  --muted: #cbd5e1;
  --muted-foreground: #a1a1aa;
}

[data-theme='dark'] {
  --primary: #aad9f2;
  --primary-foreground: #d8effc;

  --secondary: #6f758b;
  --secondary-foreground: #d7e1ea;

  --background: #2d3d70;
  --foreground: #d8dfe4;
}
