th,
td {
  border: 1px solid var(--secondary-foreground);
}

thead th,
thead tr {
  padding: 8px 10px;
  text-transform: uppercase;
  margin-inline: auto;
  border: 1px solid var(--secondary-foreground);
}

tbody tr,
tbody td {
  padding: 6px 8px;
  border: 1px solid var(--secondary-foreground);
}

.table {
  border-collapse: collapse;
  border: 2px solid var(--secondary-foreground);
  width: 100%;
  text-align: center;
}

.header {
  border: 2px solid var(--secondary-foreground);
  background-color: var(--secondary);
}

.textLeft {
  text-align: start;
}
