.wrapper {
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background-color: var(--muted);
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrapper:hover {
  background-color: var(--primary);
}

.circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--secondary-foreground);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.dark {
  transform: translateX(25px);
  background-color: var(--background, #e8f8ff);
}
