.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  min-height: 440px;
  padding: 16px;
  background-color: var(--secondary);
  border: solid 1px var(--secondary-foreground);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 600;
}

.subtitle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}

.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px 40px 8px 12px;
  border: solid 1px var(--secondary-foreground);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
  box-shadow: 0 0 0 1px var(--secondary-foreground);
}

.inputIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  pointer-events: none;
  stroke: var(--secondary-foreground);
}

.error {
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;
  display: block;
}

.btn {
  padding: 8px 24px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  margin-top: 8px;
  margin-bottom: 24px;
}

.btn:hover {
  transform: scale(1.03);
  background: #00897b;
}

.btn:active {
  transform: scale(0.98);
  background: #00897b;
}

.text {
  font-size: 12px;
}

.link {
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-foreground);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
