.form {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px 40px 8px 12px;
  border: solid 1px var(--secondary-foreground);
  border-radius: 8px;
  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.input:focus {
  box-shadow: 0 0 0 1px var(--secondary-foreground);
}

.input:disabled,
select:disabled {
  background-color: var(--muted);
  border-color: var(--muted-foreground);
  cursor: not-allowed;
  color: var(--muted-foreground);
}

.input:disabled + .inputIcon {
  stroke: var(--muted-foreground);
}

.error {
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;
  display: block;
}

.btn {
  padding: 8px 24px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  margin-top: 8px;
}

.btn:hover {
  transform: scale(1.03);
  background: #00897b;
}

.btn:active {
  transform: scale(0.98);
  background: #00897b;
}

.btn:disabled {
  background-color: var(--muted);
  border-color: var(--muted-foreground);
  cursor: not-allowed;
  opacity: 0.6;
}

.btn:disabled:hover {
  transform: none;
}

.text {
  font-size: 12px;
}

.link {
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-foreground);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.spiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
