.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  border: solid 1px blue;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}
