.section {
  margin: 40px 0;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
  padding: 8px 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.icon {
  stroke: var(--primary);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.span {
  padding: 8px 24px;
  background-color: var(--secondary);
  border: solid 2px var(--secondary-foreground);
  border-radius: 20px;
  text-align: center;
}

.noResults {
  font-style: italic;
  color: var(--muted-foreground);
  margin-top: 100px;
  text-align: center;
}

.loadMoreBtn {
  display: block;
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }

  .btn:hover {
    transform: scale(1.03);
    background: #00897b;
  }

  .btn:active {
    transform: scale(0.98);
    background: #00897b;
  }

  .info {
    flex-direction: row;
  }
}

@media screen and (min-width: 1240px) {
  .wrapper {
    flex-direction: row;
  }

  .btn {
    margin-top: 0;
  }
}
