.section {
  margin: 40px 0;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background-color: var(--secondary);
  border: solid 2px var(--secondary-foreground);
  border-radius: 50%;
  font-size: 28px;
  font-weight: 600;
  color: var(--secondary-foreground);
}

.link {
  user-select: none;
  padding: 8px 24px;
  background-color: var(--secondary);
  border: solid 2px var(--secondary-foreground);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.link:active {
  transform: scale(0.98);
}

.active {
  background-color: var(--secondary-hover);
}

.icon {
  stroke: var(--secondary-foreground);
}

.content {
  padding-left: 20px;
}

.btn {
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  font-weight: 600;
}

.btnIcon {
  stroke: var(--primary);
}

.btn:active {
  transform: scale(0.98);
  background: #00897b;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .sideBar {
    width: 160px;
    gap: 20px;
  }

  .sideBar::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -1px;
    width: 2px;
    height: 100%;
    background-color: var(--secondary-foreground);
    border-radius: 2px;
  }

  .avatar {
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
    font-size: 36px;
  }

  .link:hover {
    background-color: var(--secondary-hover);
    transform: scale(1.03);
  }

  .btn {
    margin-top: 40px;
  }

  .btn:hover {
    transform: scale(1.03);
    background: #00897b;
  }
}

@media screen and (min-width: 1240px) {
}
