.header {
  display: flex;
  align-items: center;
  /* background-color: ; */
  justify-content: space-between;
  padding: 24px 0px;
}

.logo {
  height: 65px;
  width: 92px;
}

.span {
  font-size: 48px;
}

@media only screen and (min-width: 768px) {
  .logo {
    height: 85px;
    width: 120px;
  }
}
