.header {
  background-color: var(--primary);
  padding: 8px 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 65px;
  width: 92px;
}

@media only screen and (min-width: 768px) {
  .logo {
    height: 85px;
    width: 120px;
  }
}
