.section {
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 280px;
  min-height: 440px;
  padding: 16px;
  background-color: var(--secondary);
  border: solid 1px var(--secondary-foreground);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
