th,
td {
  border: 1px solid rgb(160 160 160);
}

thead th,
thead tr {
  padding: 8px 10px;
  text-transform: uppercase;
  margin-inline: auto;
}

tbody tr,
tbody td {
  padding: 6px 8px;
}

.table {
  border-collapse: collapse;
  border: 2px solid rgb(160 160 160);
  width: 100%;
  text-align: center;
}

.header {
  border: 2px solid rgb(160 160 160);
  background-color: #d6ecd4;
}

.textLeft {
  text-align: start;
}
