th,
td {
  border: 1px solid var(--secondary-foreground);
}

thead th,
thead tr {
  padding: 8px 10px;
  text-transform: uppercase;
  margin-inline: auto;
  border: 1px solid var(--secondary-foreground);
}

tbody tr,
tbody td {
  padding: 6px 8px;
  border: 1px solid var(--secondary-foreground);
}

.table {
  border-collapse: collapse;
  border: 2px solid var(--secondary-foreground);
  width: 100%;
  text-align: center;
}

.header {
  border: 2px solid var(--secondary-foreground);
  background-color: var(--secondary);
}

.textLeft {
  text-align: start;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.arrowIcon {
  stroke: var(--secondary-foreground);
  size: 16px;
}

.cellBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cellBtn:hover {
  transform: scale(1.1);
}

.cellBtn:active {
  transform: scale(0.98);
}

.subtitel {
  font-size: 12px;
}
