.title {
  margin-top: 40px;
  font-size: 18px;
}

.list {
  margin-top: 30px;
  margin-left: 30px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.span {
  display: inline-block;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .title {
    margin-top: 60px;
    font-size: 24px;
  }

  .list {
    margin-top: 60px;
    gap: 36px;
  }

  .text {
    margin-bottom: 16px;
  }

  .span {
    font-weight: 600;
  }
}

@media screen and (min-width: 1240px) {
}
