.title {
  margin-bottom: 40px;
}

.list {
  margin-left: 30px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text {
  margin-bottom: 16px;
}

.span {
  font-weight: 600;
}
