.yearSelect {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 120px;
}

.select {
  width: 100%;
  padding: 8px 24px;
  background-color: #26a69a;
  border: solid 2px #004d40;
  color: var(--primary);
  border-radius: 8px;
  outline: none;
  text-align: center;
}

.wrapper {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.calendarGrid {
  min-width: 720px;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: 20px auto;
  gap: 6px;
}

.emptyCell {
  grid-column: 1;
  grid-row: 1;
}

.dayLabels {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-rows: repeat(7, 14px);
  gap: 2px;

  font-size: 12px;
  color: #888;
}

.monthLabels {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10px;
  gap: 2px;
  font-size: 12px;
  color: #888;
}

.monthLabel {
  grid-row: 1;
  justify-self: start;
}

.daysGrid {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 14px);
  gap: 2px;
}

.day {
  width: 10px;
  height: 10px;
  border-radius: 3px;
}

.day[data-empty='true'] {
  background: var(--muted);
}

.legendContainer {
  margin-top: 20px;
}

.legend {
  display: block;
  margin-bottom: 10px;
}

.legendList {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.legendItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.l0 {
  background-color: #2a2a2a;
}

.l1 {
  background-color: #eff70d;
}

.l2 {
  background-color: #ee9922;
}

.l3 {
  background-color: #3ba84f;
}

.l4 {
  background-color: #e62f2f;
}
.l5 {
  background-color: #d222d8;
}

.emptyDay {
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .yearSelect {
    width: 160px;
  }
}

@media screen and (min-width: 1240px) {
}
